{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<br>
<fieldset id="forma">
<legend>Обратная связь</legend>
<form action=""> Имя
  <br>
  <input type="text" placeholder="Ваше имя" class="contacts_user contacts_name">
  <br>
  <br>
  <fieldset>
    <legend>Пол</legend> Мужской
    <input type="radio" name="pol" checked> Женский
    <input type="radio" name="pol">
  </fieldset>
  <br> Ваш вопрос связан с
  <ul>
    <li> Заказом картины
      <input type="checkbox"> </li>
    <li>Проблемой работы сайта
      <input type="checkbox"> </li>
    <li>Другое
      <input type="checkbox"> </li>
    <br>
  </ul> Описание вопроса
  <br>
  <textarea name="message" cols="30" rows="5" placeholder="Вопрос" class="contacts_user"></textarea>
  <br>
  <br> Контактный телефон
  <br>
  <input type="text" placeholder="Телефон" class="contacts_user">
  <br>
  <br> Email
  <br>
  <input type="text" placeholder="qwerty@gmail.com" class="contacts_user">
  <br>
  <br>
  <input type="submit" value="Отправить данные">
  <input type="reset" value="Отмена">
</form>
</fieldset>
<h3>Наш адрес</h3>
<ul>
<li>Связаться с&nbsp;нами можно по&nbsp;номеру: +79196365291</li>
<li>E-mail: kartinyshka@kart.com</li>
<li> Адрес: Россия, респ. Татарстан, г. Казань, ул. Петербургская, 1, ТРК &laquo;Кольцо&raquo;</li>
</ul>
<br>
<iframe class="contacts_map"
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.8335254009125!2d49.12271526577542!3d55.78614794178277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead0fdc0077f7%3A0x60110ec21cced7cd!2z0KLQoNCaICLQmtC-0LvRjNGG0L4i!5e0!3m2!1sru!2sru!4v1585487676110!5m2!1sru!2sru"
width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{% endblock %}

