{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <h2>Онлайн-магазин картин &laquo;Картинушка&raquo;</h2>
  <p>Украшать интерьер с&nbsp;помощью картин всегда было одним из&nbsp;лучших способов создать индивидуальное пространство, обладающее своим неповторимым настроением и&nbsp;уютом. </p>
  <p>Вы&nbsp;планируете ремонт или уже сделали его, но&nbsp;чего-то не&nbsp;хватает? Какого-то настроения, главного ощущения от&nbsp;обстановки, ее&nbsp;изюминки: оно создается картинами. Украшать интерьер с&nbsp;помощью изображений
    всегда было одним из&nbsp;лучших способов создать индивидуальное пространство, обладающее своим неповторимым настроением и&nbsp;уютом.</p>
  <p>Не&nbsp;нужно думать, что купить картины для интерьера&nbsp;&mdash; это очень дорого. Сегодня позволить их&nbsp;себе без проблем может каждый человек. Можно выбрать самые разные виды изображений: живые полотна, репродукции,
    фотографии, графику... Осталось только правильно выбрать картину, которая подходит к&nbsp;дизайну комнаты и&nbsp;создает подходящее настроение.</p> <img src="img/image.jpg" alt="Картины">
  <br>

    {% if tasks %}
        {% for el in tasks %}
        <div>
            <h3>{{ el.title }}</h3>
            <p>{{ el.task }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>А статей нет((</p>
    {% endif %}

{% endblock %}
