<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Главная</title>
<!--  <link rel="stylesheet" href="style1.css"> -->
</head>

<body>
  <!-- <h1>Главная</h1> -->
  <div class="container">
    <div class="fon"><img src="img/fon.jpg" alt="fon" width="1000px"> </div>
    <div class="header">
      <div class="logo"><img src="img/logo.png" alt="logo" width="50px"> </div>
      <div class="menu"><a class="menu_a" href="contacts.html">Контакты</a></div>
      <div class="menu"><a class="menu_a" href="catalog.html">Каталог</a></div>
      <div class="menu"><a class="menu_a" href="#">Главная</a></div>
    </div>

    <div class="content">
      <h2>Онлайн-магазин картин &laquo;Картинушка&raquo;</h2>
      <p>Украшать интерьер с&nbsp;помощью картин всегда было одним из&nbsp;лучших способов создать индивидуальное пространство, обладающее своим неповторимым настроением и&nbsp;уютом. </p>
      <p>Вы&nbsp;планируете ремонт или уже сделали его, но&nbsp;чего-то не&nbsp;хватает? Какого-то настроения, главного ощущения от&nbsp;обстановки, ее&nbsp;изюминки: оно создается картинами. Украшать интерьер с&nbsp;помощью изображений
        всегда было одним из&nbsp;лучших способов создать индивидуальное пространство, обладающее своим неповторимым настроением и&nbsp;уютом.</p>
      <p>Не&nbsp;нужно думать, что купить картины для интерьера&nbsp;&mdash; это очень дорого. Сегодня позволить их&nbsp;себе без проблем может каждый человек. Можно выбрать самые разные виды изображений: живые полотна, репродукции,
        фотографии, графику... Осталось только правильно выбрать картину, которая подходит к&nbsp;дизайну комнаты и&nbsp;создает подходящее настроение.</p> <img src="img/image.jpg" alt="Картины">
      <br>
      <h3>Правила для размещения картины в&nbsp;интерьере</h3>
      <p>Чтобы красиво развесить изображения, учитывайте геометрию пространства. Картины способны подчеркнуть одни особенности комнаты и&nbsp;сгладить другие. Например, длинные вертикальные изображения сделают любое помещение визуально выше,
        а&nbsp;несколько картин, равномерно распределенные по&nbsp;горизонтали зрительно расширят комнату. </p>
      <p> А&nbsp;вот если поместить большую картину на&nbsp;стену в&nbsp;квартире, где ей&nbsp;едва хватает места, то&nbsp;это способно зрительно уменьшить помещение. Лучше использовать вокруг полотна достаточно свободного пространства. </p>
      <p>Если помещение большое, то&nbsp;маленькие картины создадут иллюзию пустоты и&nbsp;потерянности. Их&nbsp;можно развесить группами, тогда они будут восприниматься более органичного. Среднего размера полотно можно скорректировать с&nbsp;помощью
        просторного паспарту.</p>
      <p>Любые картины можно развесить своими руками, но&nbsp;следите за&nbsp;горизонталями: чтобы поддерживать чувство зрительной гармонии, несколько изображений на&nbsp;одной стене следует выравнивать по&nbsp;горизонтали. Общепринятым является
        выравнивание картин по&nbsp;центру.</p>
      <p> Следующая задача&nbsp;&mdash; выбор высоты. Можно разместить изображения в&nbsp;соответствии с&nbsp;&laquo;музейным методом&raquo;: когда расстояние средней линии от&nbsp;пола фиксировано и&nbsp;составляет 152&nbsp;см. Но&nbsp;если
        любоваться полотнами люди будут сидя, то&nbsp;лучше повесить их&nbsp;пониже. Это актуально, если речь идет о&nbsp;кухне или спальне.</p>
      <p>Чем больше пустого пространства на&nbsp;стене, тем большего размера изображение там можно поместить. Картины в&nbsp;гостиную над диваном должны быть среднего размера, лишь на&nbsp;пустующих стенах можно позволить себе развернуться, повесив
        там огромные полотна, гобелены или картины на&nbsp;всю стену. Картины в&nbsp;интерьере гостиной на&nbsp;фото позволят хорошо разобраться с&nbsp;тем, как лучше вешать&nbsp;их, чтобы было гармонично.</p>
    </div>

    <div class="footer">
      <hr> Все права защищены &copy;&nbsp;2020 <a href="https://vk.com/fasschool" target="_blank">FAS</a>
    </div>

  </div>

</body>

</html>